<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>FamPass</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-7551087457561398~1395618622</string>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>FamPass needs calendar access to add family events to your calendar.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>FamPass needs calendar access to add family events to your calendar.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>FamPass uses your location to find family-friendly events near you.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
